@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    display: flex;
    background-color: #ddd;
}

.sidebar {
    width: 320px;
    background: #111;
    color: white;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Rajdhani', sans-serif;
    font-size: 26px;
    text-align: center;
    letter-spacing: 1px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
    width: 100%;
}

.section {
    width: 90%;
    margin-bottom: 20px;
    padding: 15px;
    border: 2px dashed white;
    border-radius: 10px;
}

h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

label {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 10px 0;
    justify-content: space-between;
}

input {
    width: 70px;
    padding: 5px;
    background: transparent;
    color: white;
    border: none;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

input[type="color"] {
    width: 50px;
    height: 30px;
    border-radius: 20px;
    padding: 0;
    border: none;
}

button {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    background: #444;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: white;
    color: #111;
}

/* 右側のコントローラーエリアを大きく */
.editor {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.controller {
    width: 400px;  /* サイズを大きく */
    height: 230px;
    background-color: #afafaf;
    border-radius: 30px;
    position: relative;
}

.button {
    position: absolute;
    border-radius: 50%;
}
